:root {
  --color-black: #02020A;
  --color-blue: #020887;
  --color-dark-blue: #0A2342;
  --color-grey: #233D4D;
  --color-maroon: #79131C;
  --color-red: #E4572E;
  --color-pink: #957186;
  --color-salmon: #FFA69E;
  --color-light: rgb(218, 201, 200);
  --font-color: #f3f3f3;
}

body {
  font-family: Open Sans;
  color: var(--color-dark-blue);
  background-color: var(--color-light);
}

.main-header {
  font-family: Futura,Trebuchet MS,Arial,sans-serif; 
  font-weight: bold;
  font-size: 300%;
}

.flex-row-container {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
}

.center-align {
  text-align: center;
}